* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header h1 {
  font-family: "Circular Std", sans-serif;
  font-size: 12vw;
  font-weight: 500;
  letter-spacing: -0.05em;
  line-height: 175%;
  color: #fff;
  text-align: center;
}

.item {
  position: absolute;
  padding: 0.5em;
  width: 200px;
  height: 225px;
  overflow: hidden;
  background-color: #fff;
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);
}

@media only screen and (max-width: 768px) {
  .header h1 {
    font-size: 8vw;
  }

  .item {
    width: 150px;
    height: 175px;
  }
}

@media only screen and (max-width: 480px) {
  .header h1 {
    font-size: 6vw;
  }

  .item {
    width: 80px;
    height: 100px;
  }
}
